header {
    display: flex;
    gap: 30px;
    padding-left: 10%;
    padding-right: 5%;
    height: 105px;
    align-items: center;

}
header a {
    text-decoration: none;
    color: black;
}

main {
    background-color: #4d4033;
    color: white;
    width: 100%;
    padding: 200px 20%;
    display: flex;
    align-items: center;
    justify-content: center;

}

main>div {
    width: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voltar {
    width: fit-content;
    text-align: center;
}
section {
    margin: 0;
    line-height: initial;
}
section img {
    border-radius: 300px;
    max-width: 350px;
}

section>div>h1 {
    font-size: 1.8em;
    text-transform: uppercase;
    color: white;
}

.avalicoes {
    width: 400px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-top: 60px;
}

.avalicoes span {
    align-self: center;
}

.avalicoes button {
    background-color: transparent;
    border: none;
}

.avalicoes button>svg {
    height: 25px;
}


.star {
    cursor: pointer;
    fill: rgb(153, 153, 153);
}

button[type="submit"].star:hover>svg, button[type="submit"].star:hover ~ .star {
    fill: gold;
}

.nota, .nota ~ .star {
    fill: white;
}

.notaUser, .notaUser ~ .star {
    fill: gold;
}

.btn-pagamento {
    display: flex;

}

.btn-pagamento>form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.dropdown-menu>li>a {
    padding: 15px;
}

.btn-pagamento>form>* {
    height: fit-content;
}

/* ------------------comentarios------------------ */

.delete-btn>svg {
    height: 20px;
    fill: white;
}

/* -----------------------------------------------comentarios----------------------------------------------- */
.comentarios {
    display: flex;
    width: 80%;
    margin: 10px auto;
    flex-direction: column;
}

.comentario {
    display: grid;
}

.comentarios .perfil-comentario>h3 {
    margin-bottom: 0;
}

.div-com{
    display: grid;
    padding-top: 10px;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 2fr 3fr;
}

.div-com>* {
    padding: 10px;
}

.perfil-comentario>h4 {
    font-weight: bolder;
    align-self: center;
    margin: 0;
}
.perfil-comentario {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: row;
    gap: 10px;
}

.div-com>p {
    font-weight: 500;
}

.foto-comentario {
    height: 40px;
    width: 40px !important;
    background-color: #0d6efd;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden;
    transition: .6s;
    border: 1px solid black;
}
.foto-comentario:hover {
    background-size: 130%;
}

.foto-comentario>img {
    width: 100%;
    height: 100%;
    
}
.texto-comentario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
}

/* popover */

#popover {
    transition: .34s;
    transform: scaleY(140px);
    opacity: 0;
    position: fixed;
    left: 30%;
    bottom: 10%;
    width: 700px;
    height: 700px;
    border-radius: 5px;
    z-index: -999;
    display: grid;
    background-color: #BBA793;
    border: 2px solid rgba(0, 0, 0, 0.27);
    color: black;
    grid-template-rows: 2fr 1fr 1fr 1fr 10fr;
    
}

#popover>div {
    color: black;
    font-weight: 600;
}

.popActive {
    z-index: 999 !important;
    display: grid !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.botoes-comentario {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.edit-coment {
    border: 1px black solid;
}

