|* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #DFD2C4;
    margin: 0;
    transition: background 0.2s linear;
    scroll-behavior: smooth;
}



header {
    background-color: #BBA793;
    /* display: grid;
    grid-template-columns: 55%  auto auto auto auto; */
    display: flex;
    gap: 30px;
    padding-left: 10%;
    padding-right: 5%;
}

header h1 {
    margin-right: auto;
    font-size: 39px;
}

header h2 {
    font-size: 16px;
    padding-top: 30px;

}

a {
    color: black;
    text-decoration: none;
}



/*modo escuro*/

body.dark {
    background: #4d4033;
}


body.dark header {
    background-color: #7b6c59;

}

body.dark header h1 {
    color: #d6cece;
}

body.dark header h2 {
    color: #d6cece;
}

body.dark a {
    color: #d6cece;

}





.checkbox {
    opacity: 0;
    position: absolute;
}


.label {
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5px;
    position: relative;
    height: 26px;
    width: 40px;
    transform: scale(1.5);
    position: fixed;
    right: 30px;
    bottom: 30px;
}


.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}


.checkbox:checked+.label .ball {

    transform: translatex(24px);
}

#busca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

#txt-busca {
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 5px;
}

#btn-busca{
    font-size: 0.8em;
    background-color: #f1c40f;
    border: 1px rgba(0, 0, 0, 0.24) solid;
    padding: 8px;
    border-radius: 5px;
    transition: .35s;
}

#btn-busca:hover {
    background-color: #cca60e;
    cursor: pointer;
}

.fa-moon {
    color: #f1c40f
}

.fa-sun {
    color: #f39c12
}


#perfil {
    width: 100px;
    height: 100px;
    margin-top: 14px;
    margin-left: 20px;
    position: relative;

}

#perfil:hover #dropdown {
    opacity: 1;
}

#dropdown {
    z-index: 9;
    width: 120px;
    transition: .5s;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #BBA793;
    list-style: none;
    opacity: 0;
    top: 83px;
    position: absolute;
}
#dropdown li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: .15s;
    text-align: center;
    height: 40px;
}
#dropdown a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: .15s;
    width: 100%;
}
#dropdown li:hover {
    background-color: #695745;
}
.btn-sair:hover {
    background-color: rgb(165, 48, 48) !important;
}
#perfil img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 20px;
}


#conteudo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    justify-items: center;
    align-items: center;
    min-height: 700px;
    margin: 0 auto;
}

#conteudo>a {

    border-radius: 30px;
    width: 90%;
    height: 290px;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    flex-direction: column;
}

.botao-card {
    align-self: center;
    justify-self: center;
    position: absolute;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: .35s;
    opacity: 0;
    transform: translateY(-15px);
    z-index:99;
}


#conteudo>a:hover div{
    transition: .35s;
}

#conteudo>a:hover div{
    filter: brightness(0.5);
}

#conteudo>a:hover .botao-card{
    opacity: 1;
    transform: translateY(0);
}

.botao-card:hover {
    background-color: rgb(218, 218, 218);
}

.banner {
    grid-column: 1 / -1;
    border-radius: 30px;
    width: 100% !important;
    color: white;
    background-image: url(https://academia.nubimetrics.com/hs-fs/hubfs/Ferramentas%20para%20vender%20nos%20marketplaces.webp?width=2048&height=1365&name=Ferramentas%20para%20vender%20nos%20marketplaces.webp);
}


.float {
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    width: fit-content;
    padding: 15px 15%;
    background-color: #4d4033;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.card>div {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 30px;
}



#conteudo p {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.eletrica>div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRAG6IEzGOjjOdoKZztipx-U957X8zSISNkcA&s);
}

.hidraulica>div {
    background-image: url(https://drausuisse.com.br/blog/wp-content/uploads/2023/07/reparos-hidraulicos-industriais-sao-paulo.png);
}

.geral>div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu5jQ9gClnE2MsnLWClIfUtYbbAa4DNuwqkA&s);
}
.instalacoes>div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRReEOgeXlnYhwxqnrm61uLe3Q9Kqio-DOMQ&s)
}
.carpinteiro>div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvA1qMCWlhyDr7WwjGomav4cppjYrqTHOSQw&s)
}
.reformas>div {
    background-image: url(https://www.centraldalapa.com/wp-content/uploads/2022/05/qual-o-melhor-construcao-ou-reforma.webp)
}
.serralheiro>div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-aQ7FnnUkmN-wFyjninYBzSYX1lTi8aoSWQ&s)
}
.moveis>div {
    background-image: url(https://delar.com.br/wp-content/uploads/2022/11/LOGO-EDS-MONTADOR.jpg)
}
.pintor>div {
    background-image: url(https://static.wixstatic.com/media/04008f_f9c24736e79341549c930d6937574068~mv2.jpg/v1/fill/w_640,h_426,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/04008f_f9c24736e79341549c930d6937574068~mv2.jpg)
}